<body>
<form action="/recipes" method="post">
<h2>Name:<input id="name" type="text" name="name"></h2>
<h2>Ingredients:<input id="ingredients" type="text" name="ingredients"></h2>
<h2>Cook_time:<input id="cook_time" type="text" name="cook_time"></h2>
<input type="submit" values="submit">
</form>
</body>