<body>
    <h1>Create Your Recipe</h1>
    <form action="/recipes" method="post">
        <input type="text" placeholder="Recipe Name:" name="name"><br>
        <input type="text" placeholder="Recipe ingredients:" name="ingredients"><br>
        <input type="text" placeholder="Recipe Cook_time:" name="cook_time"><br>
        <input type="submit" value="Submit">
    </form>
</body>