<h1>Add Your Recipe!</h1><hr>

<form action='/recipes' method='POST'>
    <label>Name:</label><br>
    <input type='text' name='name'><br>
    <label>Ingredients:</label><br>
    <input type='text' name='ingredients'><br>
    <label>Cook Time:</label><br>
    <input type='text' name='cook_time'><br>
    <input type='submit' id='submit' value='Add'>
</form>