<form method="POST" action="/recipes">
    <input type="text" placeholder="name" name="name" id="name"><br>
    <input type="text" placeholder="ingredients" name="ingredients" id="ingredients"><br>
    <input type="text" placeholder="cook_time" name="cook_time" id="cook_time"><br>
    <input type="submit" value="Submit" />
</form>